# output created by import scripts
scripts/import/out

# exported data
export
!scripts/export/*.py

# temp script files
tags_to_add.txt
tags_to_remove.txt
.porty*

# Python cache
__pycache__

# Mypy cache
.mypy_cache

